<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Weather App</title>
</head>
<body>

    {% include "flash_message.html" %}
    
    <div>
       
        <form method="POST" action="/create_user">
            <label>Name:<\label>
            <input type="text" name="user" placeholder="username" required><br>
            <label>Password:<\label>
            <input type="password" name="passwd" placeholder="password" required><br>
            <label>Email:<\label>
            <input type="email" name="email" placeholder="email" required><br>
            <input type="submit" value="SignUp!">
        </form><br>
            <a href="/login" 
            style="color:white;background-color:rgb(110, 209, 238);border-radius: 1px;justify-content: right;">
            login</a>
        
        
    </div>



</body>
</html>
